fastapi
uvicorn[standard]
python-dotenv
requests
email-validator
Pillow
numpy
motor
pymongo
redis
pydantic-settings
python-jose[cryptography]
bcrypt
google-auth
pypdf
torch
timm
huggingface_hub
medmnist
torchvision
tqdm
openai
httpx
python-docx
twilio
sendgrid
langchain-community
langchain-huggingface
langchain-text-splitters
joblib
scikit-learn
python-multipart
